<!-- End content -->

<!--
              <hr/>
                <div class="well comments">
                <h2> Comments </h2>
                  <a id="addCommentLink" href='#'>Add a new Comment</a>
                  <div id="addCommentPane" style="display: none">
                    <form id="addCommentForm" class="form-horizontal">
                      <div class="control-group"><label class="control-label" >Title:</label><div class="controls"><input class="span9" type="text" name="title" value="My 2 cents"></div></div>
                      <div class="control-group"><label class="control-label" >Author:</label><div class="controls"><input class="span9" type="text"  name="author" value="Guest"></div></div>
                      <div class="control-group"><label class="control-label" >Text:</label><div class="controls"><textArea class="span9" rows="6" name="text"></textArea></div></div>
                      <div class="control-group"><div class="controls"><img class="span5" id="captchca" src=""/><input type="text" class="span4"  name="captcha" placeHolder="Enter captchca code (4 alphanum)"></div></div>
                      <div class="control-group"><div class="controls"><button type="submit" class="btn">Submit</button></div></div>
                    </form>
                  </div>
                <div id="comments">
                </div>
              </div>
              -->
            </div>
        </div>

        <hr>

<footer>
--
</footer>

<!-- scripts -->
<script type="text/javascript">
var _gaq = _gaq || [];

_gaq.push(['_setAccount', 'UA-1981951-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End scripts -->


